= link_to(icon('icon-arrow-left') + " Report", report_url(@report), :class => 'btn btn-inverse')

= simple_form_for([@report, @template]) do |f|
  %section
    .page-header
      %h1
        .input-prepend
          %span.add-on
            %small= f.object.report.to_s
          = f.input_field(:name, :class => 'span10')

    %h2.pull1
      %a{'data-toggle' => 'collapse', 'data-target' => '#filters'}
        %i.icon-arrow-right
      Filters
    .row#filters.collapse.in
      .span12
        %table.table.table-striped.table-bottomless
          %thead
            %tr
              %th Name
              %th Operator
              %th Value
          %tbody
            = f.fields_for(:template_metrics, f.object.template_metrics) do |ff|
              = render :partial => 'template_metrics/fields', :locals => {:f => ff}

        .form-actions
          = f.submit 'Save Report', :class => 'btn btn-primary'

    %h2 Result Preview
    .row
      .span12
        - if @template.error?
          %h4 Error encountered:
          %p= @template.error.to_s
        - else
          %table.table.table-striped.table-bordered
            %thead
              %tr
                - @template.result.fields.each do |field|
                  %th= field.to_s
            %tbody
              - @template.rows.each do |row|
                %tr
                  - @template.result.fields.each do |field|
                    %td= row[field]

    %h4 SQL
    .row
      .span12
        %p= @template.to_arel.to_sql


