.row-fluid.space2
  .span12
    = link_to(icon('icon-arrow-left') + " Report", report_url(@report), :class => 'btn btn-inverse')
    %h2.space2
      = @report.to_s
      %small= @template.to_s

    %h4 SQL
    %p= @template.to_arel.to_sql

.row-fluid
  .span6
    %h3 Fields
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th Type
          %th Name
          %th Field
          %th Actions
      %tbody
        - @template.template_fields.each do |template_field|
          %tr
            %td
              - if template_field.filterable?
                %a.text-success= icon('icon-leaf', :title => 'Filterable')
              - if template_field.displayable?
                %a.text-inverse= icon('icon-eye-open', :title => 'Displayable')
              - if template_field.groupable?
                %a.text-info= icon('icon-cogs', :title => 'Groupable')
            %td= template_field.field.to_s
            %td= template_field.to_fake_sql
            %td
              .btn-group
                = link_to(icon('icon-edit'), edit_report_template_template_field_url(@report, @template, template_field), :class => 'btn btn-warning')
                = simple_form_for([@report, @template, template_field], :method => :delete) do |f|
                  = button_tag icon('icon-trash'), :class => 'btn btn-danger'

    = link_to "New Template Field", new_report_template_template_field_url(@report, @template), :class => 'btn btn-success'


.row-fluid
  .span12
    %h3 Result Preview
    - if @template.error?
      %h5 Error encountered:
      %p= @template.error.to_s
    - else
      %table.table.table-striped.table-bordered
        %thead
          %tr
            - @template.result.fields.each do |field|
              %th= field.to_s
        %tbody
          - @template.result.to_a.each do |row|
            %tr
              - row.each do |value|
                %td= value






