%tr
  %td
    = f.input(:id, :as => :hidden)
    = f.input(:report_metric_id, :as => :hidden)
    = f.object.to_s
  %td= f.input_field(:operator, :collection => ReportMetric.operators)
  %td= f.input_field(:value)

