.row-fluid
  .span12
    = simple_form_for([@report, @field]) do |f|
      %h3 Choose table
      .well
        = f.input(:table_name, :collection => Report.tables)

      - unless @field.new_record?
        %h3 Field information
        .well
          = f.input(:filterable)
          = f.input(:displayable)
          = f.input(:groupable)
          = f.input(:column_name, :collection => @field.possible_columns)

      = f.submit :class => 'btn-primary'

