.row-fluid
  .span12
    = simple_form_for([@report, @field], :html => {:class => 'form-horizontal'}) do |f|
      %h3 Choose table
      .well
        = f.input(:table_name, :collection => @report.tables)
        - unless @field.new_record?
          = f.input(:column_name, :collection => Report.table_columns(f.object.table_name))

      - unless @field.new_record?
        %h3 Field information
        .well
          = f.input(:name)
          = f.input(:filterable)
          = f.input(:displayable)
          = f.input(:groupable)


      = f.submit :class => 'btn-primary'

