%section
  .page-header
    %h1 New Report

  .row
    .span12
      = simple_form_for(@report) do |f|
        = f.input(:name)
        = f.input(:category)

      .form-actions
        = f.submit :class => 'btn btn-primary'
        = link_to 'Cancel', reports_url, :class => 'btn'
