= link_to(icon('icon-arrow-left') + " Reports", reports_url, :class => 'btn btn-inverse')

= simple_form_for(@report) do |f|
  %section
    .page-header
      %h1
        .input-prepend
          %span.add-on
            %small Name
          = f.input_field(:name, :class => 'span10')

    %h2.pull1
      %a{'data-toggle' => 'collapse', 'data-target' => '#outputs'}
        %i.icon-arrow-right
      Outputs
    .row#outputs.collapse.in
      .span12
        %table.table.table-striped.table-bottomless
          %thead
            %tr
              %th Name
              %th Function
              %th Column
              %th Position
              %th Group
              %th Destroy
          %tbody#new_report_outputs
            = f.fields_for(:report_metrics, f.object.report_metrics.outputs.order('position asc')) do |ff|
              = render :partial => 'report_metrics/fields', :locals => {:f => ff}
        %p= link_to_add_nested text_with_icon('Add Output', 'icon-plus'), f, :report_metrics, :class => 'btn btn-mini btn-stretch btn-success', :build => {:metric_type => 'output'}, :target => "#new_report_outputs"

    %h2.pull1
      %a{'data-toggle' => 'collapse', 'data-target' => '#filters'}
        %i.icon-arrow-right
      Filters
    .row#filters.collapse.in
      .span12
        %table.table.table-striped.table-bottomless
          %thead
            %tr
              %th Name
              %th Column
              %th Operator
              %th Value
              %th Locked
              %th Destroy
          %tbody#new_report_filters
            = f.fields_for(:report_metrics, f.object.report_metrics.filters) do |ff|
              = render :partial => 'report_metrics/fields', :locals => {:f => ff}
        %p= link_to_add_nested text_with_icon('Add Filter', 'icon-plus'), f, :report_metrics, :class => 'btn btn-mini btn-success btn-stretch', :build => {:metric_type => 'filter'}, :target => "#new_report_filters"

    %h2.pull1
      %a{'data-toggle' => 'collapse', 'data-target' => '#associations'}
        %i.icon-arrow-right
      Associations
    .row#associations.collapse.in
      .span12
        %table.table.table-striped.table-bottomless
          %thead
            %tr
              %th Root
              %th Primary Table
              %th Foreign Table
              %th Destroy
          %tbody#new_report_associations
            = f.fields_for(:report_associations, f.object.report_associations.order('id asc')) do |ff|
              = render :partial => 'report_associations/fields', :locals => {:f => ff}
        %p= link_to_add_nested text_with_icon('Add Association', 'icon-plus'), f, :report_associations, :class => 'btn btn-mini btn-success btn-stretch'

    .form-actions
      = f.submit 'Save changes', :class => 'btn btn-primary'

    %h2 Templates
    .row
      .span12
        %ul
          - @report.templates.each do |template|
            %li= link_to template.to_s, report_template_url(@report, template)
        = link_to 'New Template', new_report_template_url(@report), :class => 'btn btn-success'

